<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>980668566626-2f2adh0lppbtj5rnbsth5iahmvuu9mi6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.980668566626-2f2adh0lppbtj5rnbsth5iahmvuu9mi6</string>
	<key>API_KEY</key>
	<string>AIzaSyANMw7PdDLdd4Ut45Rk7ruEpsI3OEHn0gg</string>
	<key>GCM_SENDER_ID</key>
	<string>980668566626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akberovapps.SocialApp</string>
	<key>PROJECT_ID</key>
	<string>socialapp-dd478</string>
	<key>STORAGE_BUCKET</key>
	<string>socialapp-dd478.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980668566626:ios:a5483eae441fd684</string>
	<key>DATABASE_URL</key>
	<string>https://socialapp-dd478.firebaseio.com</string>
</dict>
</plist>